<!DOCTYPE html>
<html>
    <head>
        <title>Exemplo FOR</title>
        <meta charset="utf-8">
        <link href="estilo.css" rel="stylesheet">
    </head>
    <body>
        
        <h1>Exemplo FOR</h1>

        <div id="container">
            <% for (var i = 1; i <= tamanho;  i++) { %>
                <div class="item">
                    <%= i %>
                </div>
            <% } %>
        </div>
        
    </body>
</html>