<!DOCTYPE html>
<html>
    <head>
        <title>Resposta para usuário</title>
        <meta charset="utf-8">
        <link href="estilo.css" rel="stylesheet">
    </head>
    <body>
        
        <h1>Resposta:</h1>
        <p>Mensagem do servidor:  <%= mensagem %> </p>

        <p>Usuário:  <%= usuario %></p>
        <p>Email:  <%= login %></p>

    </body>
</html>